@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.container {
    max-width: 800px;
    padding: 40px 20px;
    margin: 0 auto;
}

h1 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 20px;
}

.bayan {
    cursor: pointer;
}

.bayan__item {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.item__input {
    appearance: none;
    position: absolute;
}

/***Title***/
.item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}

.item__text {
    color: blue;
}

.bayan:hover .item__text {
    color: #000000;
}

.item__input:checked ~ .item__title > .item__text {
    color: #000000;
                                      }

.item__icon {
    display: none;
}

.bayan:hover .item__icon {
    display: flex;
    width: 45px;
    height: 45px;
    background: url("../image/plus.svg") no-repeat;
}

.item__input:checked ~ .item__title > .item__icon {
    display: flex;
    width: 45px;
    height: 45px;
    background: url("../image/xmark.svg") no-repeat;
}

/***Image***/
.item__image {
    display: none;
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.item__input:checked ~ .item__image {
    display: block;
}

.bayan:hover .item__image {
    display: block;
}
