@media (max-width: 1920px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    .bayan-item__image img {
        width: 50%;
    }
}

@media (max-width: 820px) {
    .container {
        max-width: 70%;
    }

    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .bayan {
        cursor: none;
    }

    .bayan-item__title {
        cursor: none;
    }

    .bayan-item__image img {
        width: 60%;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 90%;
    }

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .bayan-item__image img {
        width: 80%;
    }

    .bayan-item__title {
        padding-bottom: 0.3rem;
    }
}

@media (hover: hover) {
	.bayan:hover .bayan-item__icon {
		opacity: 1;
		transition: all 0.5s ease;
	}

	.bayan:hover .bayan-item__text {
		transition: all 0.5s ease;
		color: #000000;
	}

	.bayan-item:hover .bayan-item__icon {
		transform: rotate(45deg);
	}

	.bayan-item:hover .bayan-item__image {
		display: block;
		animation: anim 1s forwards;
	}
}